<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663740434268-pnqpsd3a93lsrtko6809r6qq7rimsghg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663740434268-pnqpsd3a93lsrtko6809r6qq7rimsghg</string>
	<key>API_KEY</key>
	<string>AIzaSyBkulevS2oy1e6zoaybwOK8q6x5q3GpNY8</string>
	<key>GCM_SENDER_ID</key>
	<string>663740434268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eastonco.YikYak</string>
	<key>PROJECT_ID</key>
	<string>yikyak-ba35e</string>
	<key>STORAGE_BUCKET</key>
	<string>yikyak-ba35e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663740434268:ios:fdb8e3919bb964b498e399</string>
</dict>
</plist>